<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/blog/">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<title>예약페이지</title>
</head>
<body>
<br>
<div style=" display: flex; justify-content:center;">
<div class="form_box" style=" display:flex;height: 480px;" >
     <img src="/resources/images/with dog16.jpg" alt="My Image" width="400" height="570" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <section>
    
  <h1 style="font-size: 30px; font-weight: bold; ">멍멍이와 함께</h1> 
    <form name="id" th:value="${user.getName()}" style="font-size: 15px; ">
      1.신청자명<br>
      <input type="text" class="form-control"name="name" id="name" style="width:150px;height: 30px;">
      <br>
      2.연락처<br>
      <div class="form_box" style="display: flex; height: 35px; " >
         <input type='tel' class="form-control"name='phone' id="phone1" style="width:120px;"/>&nbsp;&nbsp;-&nbsp;&nbsp;
        <input type='tel' class="form-control"name='phone'  id="phone2" style="width:120px;"/>&nbsp;&nbsp;-&nbsp;&nbsp;
        <input type='tel' class="form-control"name='phone' id="phone3" style="width:120px;"/>
        </div>
        <br>3.촬영선택
      <br>&nbsp;&nbsp;-애완견<br>
      <input type="checkbox" name="dogSize" id="dogSize1" value="puppy1"> 01.소형견<br>
      <input type="checkbox" name="dogSize" id="dogSize2"value="puppy2"> 02.중형견(+2000원)<br>
      <input type="checkbox" name="dogSize" id="dogSize3" value="puppy3"> 03.대형견(+3000원)
      <br><br>&nbsp;&nbsp;-액자 크기<br> 
      <input type="checkbox" name="picutureSize" id="picutureSize1" value="frame1"> 01.소형<br>
      <input type="checkbox" name="picutureSize" id="picutureSize2" value="frame2"> 02.중형(+2000원)<br>
       <input type="checkbox" name="picutureSize"id="picutureSize3" value="frame3">03.대형(+3000원)<br>
       <br>4.촬영 구성원<br>
        <input type="checkbox" name="people" id="people" value="family"> 5인 이상(+10000원)<br>
      <br>5.촬영 희망 날짜<br> 
      <input type="text" class="form-control"  id="bookingDate" name="bookingDate" readonly="readonly">
      
</form>
</section>
 </div>
</div> <br><br><br><br>
<div class="cartbtn" style=" display: flex; justify-content: center; " >
      <p style="  font-align: center;">주문 금액:45,000원</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button class="btn btn-secondary" id="cartBtn" type="submit" value="submit">장바구니</button>&emsp;&emsp;&emsp;
           <button class="btn btn-secondary" id="btn-save" >결제하기</button>
  </div>
<br>
<script th:inline="javascript">

$.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    changeMonth: true,
    changeYear: true,
    minDate: 0,
    yearSuffix: '년',
    beforeShowDay: disableAllTheseDays
    
});
 
var disabledDays = /*[[${disabledDayList}]]*/[];



function disableAllTheseDays(date) {

    var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();

    for (i = 0; i < disabledDays.length; i++) {
		if(m+1<10){
			if(d<10){
				if($.inArray(y + '-' +"0"+(m+1) + '-' + "0"+d,disabledDays) != -1) {
					
		            return [false];
		
		        }
			}
	        if($.inArray(y + '-' +"0"+(m+1) + '-' + d,disabledDays) != -1) {
	
	            return [false];
	
	        }
		}else{
			if(d<10){
				if($.inArray(y + '-' +(m+1) + '-' + "0"+d,disabledDays) != -1) {
					
		            return [false];
		
		        }
			}
			if($.inArray(y + '-' +(m+1)+ '-' +"0"+ d,disabledDays) != -1) {
				
	            return [false];
			}
		}

    }

    return [true];

}

 
 jQuery(function($) {
    $( "#bookingDate" ).datepicker({
		beforeShowDay: disableAllTheseDays
	});
});

</script>
<script src="/js/booking.js"></script>

</body>
</html>